body {
    background-color: #ECEFF1;
    font-family: 'BioRhyme', serif;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
h1, h2, p {
     text-align: center;
}

em {
    font-style: normal;
}

div img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input {
    background-color: white;
    border: 3px solid rgb(116, 113, 113);
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: 5px 4px 5px rgba(97, 97, 99, 0.39);
    height: 20px;
}
#input:hover {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
#input:focus {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
#submit {
    background-color: white;
    border: 1px solid rgb(85, 81, 81);
    border-radius: 7px;
    margin: 5px;

    width: auto;
    padding: 4px;
}

#submit:hover {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


header div {
    margin: auto 0;
    display: none;
    width: 40px;
}

#logo {
    margin: auto 0;
    font-weight: 700;
    font-size: medium;
    display: none;
}

#l1 {
    color: rgba(0, 128, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}
#l2 {
    color: rgba(255, 0, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}
#l3 {
    color: rgba(208, 255, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}

.break { 
    display: none;
}
#response {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.reponse {
    
    width: 150px;
    border-radius: 15px;
    border:3px solid rgba(97, 97, 99, 0.39);
    background-color: rgba(94, 179, 55, 0.5);

}
picture{
    width: 100%;
    display: flex;
    justify-content: center;
}
#loader {
    width: 128px;
}
@media only screen and (max-width: 380px) {
    .image {
        display: none;
    }

    #logo {
        display: block;
    }
    
    header div {
        
        display:block; 
       
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    h1 {
        display: none;
    }
    h2, p {
        font-size: medium;
    }

    .break {
        display: block;
    }
  }