body {
    background-color: #ECEFF1;
    font-family: 'BioRhyme', serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
color: black;
font-weight: 300;
}


h1 {
    display: none;
}
h1, h2, p {
     text-align: center;
     font-size: medium;
}

em {
    font-style: normal;
}

div img {
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#input {
    background-color: white;
    border: 3px solid rgb(116, 113, 113);
    padding-left: 10px;
    border-radius: 3px;
    box-shadow: 5px 4px 5px rgba(97, 97, 99, 0.39);
    height: 20px;
}
#input:hover {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
#input:focus {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
#submit {
    background-color: white;
    border: 1px solid rgb(85, 81, 81);
    border-radius: 7px;
    margin: 5px;

    width: auto;
    padding: 4px;
}

#submit:hover {
    box-shadow: 5px 4px 5px rgba(0, 0, 0, 0.637);
}
footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0px;
    background-color: rgb(226, 217, 217);
    font-size: small;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div {
    color: black;
    margin: auto 10px ;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


header div {
    margin: auto 0;
    display: block;
    width: 40px;
}

header h1 {
    margin-left: auto;
    margin-right: auto;
}

#logo {
    margin: auto 0;
    font-weight: 700;
    font-size: medium;
    display: block;
}

#l1 {
    color: rgba(0, 128, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}
#l2 {
    color: rgba(255, 0, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}
#l3 {
    color: rgba(208, 255, 0, 0.5);
    font-style: bold;
    font-size: 2rem;
}

.break { 
    display: block;
}
#response {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    

}
.reponse {
    
    width: 150px;
    border-radius: 15px;
    border:3px solid rgba(97, 97, 99, 0.39);
    background-color: rgba(94, 179, 55, 0.5);

}
picture{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#loader {
    width: 128px;
}
.image {
    display: none;
    
}
#tuto {
    margin-left: 75px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
#tuto a {
    margin: auto;
}
   
@media only screen and (min-width: 680px) {
    .image {
        display: block;
        margin-top: 3%;
        margin-bottom: 2%;
    }

    #logo {
        display: none;
    }
    
    header div {
        
        display:none; 
       
    }
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }

    h1 {
        display: block
    }
    h2, p {
        font-size: normal ;
    }

    .break {
        display: none;
    }
  }